VITE_FIREBASE_API_KEY="AIzaSyDApQg2-SmVZMH_QSRnV-cxkebJM9pNe6s"
VITE_FIREBASE_AUTH_DOMAIN="medium-3254d.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="medium-3254d"
VITE_FIREBASE_STORAGE_BUCKET="medium-3254d.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="738498502815"
VITE_FIREBASE_APP_ID="1:738498502815:web:8de585a10c52d33336c2aa"
VITE_FIREBASE_MEASUREMENT_ID="G-YL1SHX0HB2"
